:root{
    --text-p-color: #333;
    --button-color: #8B2233;
}
/*общие правила*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
/*смена предустановок имыгы*/
img {
    max-width: 100%;
    height: auto;
    display: block;
}
/*общее правило для БаДи*/
body {
    line-height: 1.6;
    background-color: #f4f4f4;
    color: var(--text-p-color);
    overflow: hidden;
}
/*плавный скролл всего сайта*/
html{
    scroll-behavior: smooth;
}
/*контенер на весь сайт для всех секций*/
.fullpage-container {
    width: 100%;
    height: 100vh;
    overflow-y: scroll; 
    scroll-snap-type: y mandatory; 
}
.noScroll{
    overflow-y: hidden;
}
.fullpage-container.noScroll{
    padding-right: 17px;
}
/*описание секции*/
.section {
    position: relative;
    width:100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:center;
    padding: 20px;
    overflow: hidden;
    transition: transform 1.3s ease-out;
}

/*описание навигации*/
.navbar {
    position: absolute;
    top: 3%;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 40px;
}
/*описание якорей навигации(ссылок)*/
.navbar a {
    text-decoration: none;
    font-family: "Manrope";
    font-size: 16px;
    color: var(--text-p-color);
    font-weight: bold;
}/*ну и типо кликнуть если*/
.navbar a:hover {
    color: #777;
}
/*описание сектора хеадера (хотя думаю другие сектора не особо будут отличаться конкретно этим полем и перепишется в общее правило сектора*/
.header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:5%;
    width:100%;
    height: 100vh;
    text-align: center;   
}
/*бокс рамка для заголовка текста и кнопки*/
.header-box{
    position: relative;
    top:5%;
    padding: 20px;
    width: 85%;
    height:85%;
    border: 5px solid #333333;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
/*ограничение размера логотипа*/
.logo{
    align-self: flex-start;
    margin-top: 2%;
    width:clamp(25px 4vw 150px);
    max-width:150px;
}
/*заголовок внутри рамки*/
.header-content h1 {
    align-self: center;
    font-family: "Soyuz Grotesk Bold";
    font-size: clamp(32px, 8vw, 80px);
    margin-bottom: 16px;
}
/*текст внутри рамки*/
.header-content p {
    align-self: center;
    font-family: "Manrope";
    font-size: clamp(16px, 4vw, 24px);
    text-align: center;
    margin-bottom: 24px;
}
/*кнопка внутри рамки, цвет,размер,и все такое*/
.header-button {
    padding: 8px 24px;
    background-color: var(--button-color);
    color: #fff;
    width:360px; 
    transition: width 0.3s ease;
    border: none;
    font-family: "Manrope";
    font-size: clamp(16px, 4vw, 24px);
    border-radius: 15px;
    align-self: flex-end;
    margin-bottom: 2%;
    white-space: nowrap;
    cursor: pointer;
    transition: background-color 0.3s;
}
/*ну типо серая будет если навести kekw*/
.header-button:hover {
    background-color: #555;
}
/*Переопределение позиций листьев, распределение по углам рамки */
.left-leaf-top,
.right-leaf-top,
.right-leaf-bottom{
    position: absolute; 
    max-width:20%;
    object-fit: contain;
    height:auto;
}

.right-leaf-bottom{
    bottom: -3%;
    right: 5%;
    transform: translate(-3%,5%);
}

.left-leaf-top{
    max-width:40%;
    top:-5%;
    left: -10%;
    transform: translate(-5%,-10%);
}

.right-leaf-top {
    top:-5%;
    right: -5%;
    transform: translate(-5%,-5%);
}
/*Описание сектора с карточкой продукта*/
.product-info{
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    width:100%;
    height: 100vh;
    text-align: left;
}
/*описание кнопки меню*/
.button-menu{
    position: absolute;
    top:20px;
    left:20px;
    background: none;
    border: none;
    cursor:pointer;
    z-index: 1;
}
/*описание картинки меню*/
.button-menu img{
    width:32px;
    height:32px;
}
/*описание бокового меню схожего с навигацией первого сектора*/
.side-menu{
    position:absolute;
    top:0;
    width:100%;
    background-color: #fff;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    padding:20px;
    gap:40px;
    visibility: hidden; 
    opacity: 0; 
    transform: translateX(-50%); 
    transition: opacity 1.3s ease, transform 1.3s ease;
}
/*ссылки в меню*/
.side-menu a{
    text-decoration: none;
    font-family: "Manrope";
    font-size: 16px;
    color: var(--text-p-color);
    font-weight: bold;
}
/*наведение на ссылки меню*/
.side-menu a:hover{
    color:#777;
}
/*описание состоянии открытости/закрытости меню*/
.side-menu.active{
    visibility: visible;
    opacity: 1;
    transform:translateX(0);
}
.side-menu.noActive{
    opacity:0;
    transform: translateX(-50%);
}
/*описание контейнера для информации о продукте*/
.product-info-content{
    display:flex;
    align-items: center;
    justify-content: space-between;
    max-height: 80vh;
    height:100%;
    max-width: 80vw;
    width:100%;
}
/*описание картинки продука*/
.product-info-image img{
    width:641px;
    height:714px;
    object-fit: contain;
}
/*Описание описания продукта*/
.product-info-content p{
    font-family: "Soyuz Grotesk Bold";
    font-size: clamp(32px, 4vw, 52px);
    color: var(--text-p-color);
    max-width: 50vw;
    width:auto;
}
/*описание листика на втором секторе( потом его ждут еще очень большие изменения)*/
.right-leaf-bottom2{
    position: absolute; 
    max-width:20%;
    object-fit: contain;
    height:auto;
    bottom:7%;
    right: 5%;
    transform: translate(7%,5%);
}
/*Описание общего контейнера для сектора 3*/
.scroll-galery{
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:100%;
    height: 100vh;
    text-align: center;
}
/*Заголовок сектора 3*/
.scroll-galery h2{
    font-family: "Soyuz Grotesk Bold";
    font-size: 2em;
    color: var(--text-p-color);
    width:auto;
}
/*контейнер карусели*/
.carousel {
    position: relative;
    display:flex;
    align-items: center;
    justify-content: space-between;
    max-height: 80vh;
    height:100%;
    max-width: 100vw;
    width:100%;
}
/*контейнер для картинок карусели*/
.carousel-item {
    position: absolute;
    max-width: 500px;
    max-height: 350px;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 0; /* Изначально скрыты */
    transition: transform 1.3s ease, opacity 1.3s ease;
}
/*описание картинок карусели*/
.carousel-item img {
    width: 500px;
    height: 350px;
    object-fit: cover;
    border-radius: 15px;
}
/*центральная фотка*/
.carousel-item.center {
    z-index: 3;
    opacity: 1 !important;
}
/*левая фотка*/
.carousel-item.left {
    z-index: 2;
    transform:  translate(-150%,-35%) rotate(-15deg)  scale(0.7);
    opacity: 0.6 !important;
}
/*правая фотка*/
.carousel-item.right {
    z-index: 2;
    transform:  translate(50%,-35%) rotate(15deg) scale(0.7);
    opacity: 0.6 !important;
}
/*описание фотки*/
.carousel-text {
    font-family: "Manrope";
    font-size: clamp(16px, 4vw, 24px);
    color: var(--text-p-color);
}
/*кнопки(временное решение)*/
.carousel-controls button {
    margin: 10px;
    padding: 10px 20px;
    background-color: var(--button-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.carousel-controls button:hover {
    background-color: #333;
}
